.hero {
    padding: 0 10px;
    padding-bottom: 100px;
    position: relative;

    & .hero-info {
        max-width: 500px;
        padding-top: 70px;

        & h2 {
            color: #E87D0E;
            font-size: 20px;
            font-weight: 600;
        }

        & h1 {
            font-size: 50px;
            font-weight: 600;
        }

        & p {
            font-weight: 400;
            line-height: 170%;
            margin: 30px 0;
        }

        & .btn {
            background: #FA8305;
            color: #fff;
            border-radius: 50px;
            padding: 15px 30px;
            border: 0;
            transition: all 0.5s ease;
        }

        & .btn:hover {
            transform: scale(1.1);
        }
    }

    & img {
        position: absolute;
        top: -150px;
        right: 0;
        // z-index: 10;
    }

    @media(max-width:1200px) {
        & img {
            display: none;
        }

        & .hero-info {
            margin: auto;

            & p {
                text-align: center;
            }
        }
    }

    @media(max-width:600px) {
        & .hero-info {
            & h1 {
                font-size: 30px;
            }
        }
    }
}

.trending {
    padding: 50px 10px;

    & .header {
        display: flex;
        justify-content: space-between;

        & h3 {
            font-weight: 600;
            font-size: 31px;
        }

        & .seeAll {
            color: #fff;
            background: #25211D;
            border-radius: 5px;
            padding: 12px 23px;
            display: block;
            transition: all 0.5s ease;
        }

        & .seeAll:hover {
            transform: scale(1.1);
            background: #FA8305;
        }
    }

    & .games {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;

        & .block {
            margin: auto;

            & img {
                border-radius: 20px;
                transition: all 0.5s ease;
            }

            & img:hover {
                transform: scale(1.1);
            }

            & span {
                padding-top: 10px;
                display: flex;
                justify-content: center;
                gap: 5px;

                & img {
                    max-width: 20px;
                    max-height: 20px;
                }
            }
        }
    }

    @media(max-width:1200px) {
        & .games {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }
    }

    @media(max-width:600px) {
        & .header {
            display: block;
            text-align: center;

            & h3 {
                font-size: 30px;
                margin-bottom: 10px;
            }
        }

        & .games {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;
        }
    }
}

.bigText {
    padding: 50px 10px;

    & p {
        font-weight: 600;
        font-size: 30px;
        max-width: 600px;
        margin: auto;
        line-height: 170%;
        text-align: center;
    }

    @media(max-width:600px) {

        & p {
            font-weight: 300;
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}

.banner {
    padding: 50px 10px;


    & h3 {
        font-size: 30 px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    & p {
        line-height: 170%;
        margin-bottom: 30px;
        max-width: 550px;
    }

    & img {
        margin: auto;
        border-radius: 5px;
    }
}

.project {
    padding: 50px 10px;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    & .project-info {
        max-width: 800px;
        margin: auto;
        text-align: center;

        & h3 {
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 25px;
            line-height: 190%;
        }

        & p {
            font-size: 20px;
            font-weight: 300;
            padding-bottom: 100px;
            line-height: 190%;
        }
    }

    & .project-contact-1 {
        max-width: 1000px;
        margin: auto;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding: 50px 10px;

        & .project-link {
            & .icon {
                margin: auto;
                padding-bottom: 10px;
            }

            & p {
                padding-bottom: 10px;
                font-size: 16px;
                font-weight: 200;
            }

            & a {
                margin: auto;
                display: inline-block;
                transition: all 0.5s ease;
            }

            & a:hover {
                transform: scale(1.3);
            }
        }
    }

    & .project-contact-2 {
        max-width: 1000px;
        margin: auto;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        padding: 50px 10px;

        & .project-link {
            & .icon {
                margin: auto;
                padding-bottom: 10px;
            }

            & p {
                padding-bottom: 10px;
                font-size: 16px;
                font-weight: 200;
            }

            & a {
                margin: auto;
                display: inline-block;
                transition: all 0.5s ease;
            }

            & a:hover {
                transform: scale(1.3);
            }
        }
    }

    @media(max-width:800px) {

        & .project-contact-1 {
            align-items: center;
            text-align: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 150px;
            padding: 100px 10px;

            & .project-link {
                & .icon {
                    margin: auto;
                    padding-bottom: 10px;
                }

                & p {
                    padding-bottom: 10px;
                    font-size: 16px;
                    font-weight: 200;
                }

                & a {
                    margin: auto;
                    display: inline-block;
                    transition: all 0.5s ease;
                }

                & a:hover {
                    transform: scale(1.3);
                }
            }
        }

        & .project-contact-2 {
            align-items: center;
            text-align: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 150px;
            padding: 50px 10px;

            & .project-link {
                & .icon {
                    margin: auto;
                    padding-bottom: 10px;
                }

                & p {
                    padding-bottom: 10px;
                    font-size: 16px;
                    font-weight: 200;
                }

                & a {
                    margin: auto;
                    display: inline-block;
                    transition: all 0.5s ease;
                }

                & a:hover {
                    transform: scale(1.3);
                }
            }
        }
    }

    @media(max-width:460px) {

        & .project-info {

            & h3 {
                font-size: 30px;
                font-weight: 300;
                padding-bottom: 25px;
                line-height: 190%;
            }

            & p {
                font-size: 16px;
                font-weight: 200;
                padding-bottom: 50px;
                line-height: 170%;
            }
        }

        & .project-contact-1 {
            margin: auto;
            align-items: center;
            text-align: center;
            display: block;
            padding: 0px 10px;

            & .project-link {
                padding-bottom: 30px;

                & .icon {
                    margin: auto;
                }

                & p {
                    padding-bottom: 10px;
                    font-size: 16px;
                    font-weight: 200;
                }

                & a {
                    margin: auto;
                    display: inline-block;
                    transition: all 0.5s ease;
                }

                & a:hover {
                    transform: scale(1.3);
                }
            }
        }

        & .project-contact-2 {
            margin: auto;
            align-items: center;
            text-align: center;
            display: block;
            padding: 0px 10px;

            & .project-link {
                padding-bottom: 30px;

                & .icon {
                    margin: auto;
                }

                & p {
                    padding-bottom: 10px;
                    font-size: 16px;
                    font-weight: 200;
                }

                & a {
                    margin: auto;
                    display: inline-block;
                    transition: all 0.5s ease;
                }

                & a:hover {
                    transform: scale(1.3);
                }
            }
        }
    }

}

.our-projects {
    padding: 50px 10px;
    padding-top: 150px;

    & .our-projects-info {
        text-align: center;

        & h3 {
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 25px;
            line-height: 190%;
        }

        & p {
            font-size: 20px;
            font-weight: 300;
            padding-bottom: 100px;
            line-height: 190%;
        }
    }

    & .our-projects-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;

        & .projects-img {
            border-radius: 20px;
            height: 220px;
            transition: all 0.5s ease;
            width: 100%;
        }

        & .projects-img:hover {
            transform: scale(1.1);
        }
    }

    & .our-projects-btn {
        padding-top: 50px;
        align-items: center;
        text-align: center;

        & .our-projects-seeAll {
            display: inline-block;
            margin: auto;
            color: #fff;
            background: #25211D;
            border-radius: 5px;
            padding: 12px 23px;
            transition: all 0.5s ease;
        }

        & .our-projects-seeAll:hover {
            transform: scale(1.1);
            background: #FA8305;
        }
    }

    @media(max-width: 1200px) {
        & .our-projects-img {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;

            & .projects-img {
                border-radius: 20px;
                height: 220px;
                width: 95%;
            }
        }
    }

    @media(max-width: 850px) {
        & .our-projects-img {
            display: block;

            & .projects-img {
                margin: auto;
                margin-bottom: 50px;
                border-radius: 20px;
                width: 380px;
            }
        }
    }

    @media(max-width: 600px) {

        & .our-projects-info {

            & h3 {
                font-size: 30px;
                font-weight: 300;
                padding-bottom: 25px;
                line-height: 190%;
            }

            & p {
                font-size: 16px;
                font-weight: 200;
                padding-bottom: 50px;
                line-height: 170%;
            }
        }

        & .our-projects-img {

            & .projects-img {
                margin: auto;
                margin-bottom: 50px;
                border-radius: 20px;
                width: auto;
                height: auto;
            }
        }
    }
}

.more {
    padding: 50px 10px;
    padding-bottom: 150px;

    & .more-info {
        padding: 50px 0px;
        width: 40%;
        margin-right: auto;

        & h3 {
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 25px;
            line-height: 190%;
        }

        & p {
            font-size: 20px;
            font-weight: 300;
            line-height: 190%;
        }
    }

    & .form {
        margin: auto;
        align-items: center;
        max-width: 1100px;
        padding: 50px;
        background-color: #1C140F;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;

        & .form-info {
            width: 50%;

            & h3 {
                font-size: 30px;
                font-weight: 600;
                padding-bottom: 25px;
                line-height: 190%;
            }

            & p {
                font-size: 20px;
                font-weight: 300;
                line-height: 190%;
            }
        }

        & .form-input {

            & input {
                border: #25211D 1px solid;
                border-radius: 5px;
                padding: 11px 22px;
            }

            & input:focus {
                border: #FA8305 1px solid;
            }

            & button {
                display: inline-block;
                margin: auto;
                color: #fff;
                background: #25211D;
                border-radius: 5px;
                padding: 12px 23px;
                transition: all 0.5s ease;
            }

            & button:hover {
                // transform: scale(1.1);
                background: #FA8305;
            }
        }
    }

    @media(max-width: 900px) {
        & .form {
            display: block;
            align-items: center;
            text-align: center;

            & .form-info {
                margin: auto;
                padding-bottom: 50px;
            }
        }
    }

    @media(max-width: 767px) {
        padding-top: 0;
        padding-bottom: 50px;
        & .more-info {
            width: 100%;
            text-align: center;
        }

        & .form {
            display: block;
            padding: 20px;

            & .form-info {
                padding: 20px 0px;
                width: 100%;
                margin: 0;

                & .form {
                    display: block;
                }
            }
        }
    }
}